body {
  background-color: #e8e6ed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;

  justify-content: start;
  background-color: #8b64ed;
  height: 100vh;
  width: 250px;
}

main {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.link-div {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  padding-top: 1rem;
  gap: 10px;
}

.link-btn {
  width: 12rem;
  height: 2rem;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #fcfafe;
  text-decoration: none;
  gap: 10px;
}
.link-btn:hover {
  background-color: #4713867a;
  color: white;
  transition: 0.2s ease-in-out;
}

.dispaly-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 10px;
}

.div-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*  Task Manager Styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.task-body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae0f5;
}
.to-do-list {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.drop-down-div {
  z-index: 50;
  position: absolute;
  top: 330px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  display: flex;
  align-items: center;

  background-color: #a879e2;
  color: white;
  width: 60%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
}

.drop-down-div:hover {
  background-color: #9b4dfa;
}

.bar-icon {
  font-size: 2rem;
  margin-right: 120px;
  padding-left: 10px;
}
.hidden {
  opacity: 0;
  position: relative;

  display: flex;
  justify-content: center;
  visibility: hidden;
  gap: 45px;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 100px;
  max-height: 500px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  transition: opacity 0.5s ease-in-out;
}
.btn-hidden {
  position: absolute;

  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 60%;
  height: 100px;
  max-height: 500px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
}
.to-do-wrapper {
  position: relative;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 500px;
  transition: 0.5s ease-in-out;
}
.list-wrapper {
  position: absolute;
  top: 200px;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.list-wrapper::-webkit-scrollbar {
  display: none;
}
.to-do-btn {
  position: absolute;
  bottom: 70px;
  height: 3rem;
  width: 9rem;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #a879e2;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.2s ease-in-out;
  opacity: 1;
  box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
}

.to-do-btn:hover {
  background-color: #9b4dfa;
}

.input-wrapper {
  position: absolute;
  top: 440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
}

.input-field {
  height: 30px;
  padding: 5px;
  text-align: center;
  width: 50%;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ff6aff;
  font-size: 14px;
  outline: none;
  box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 7px -4px rgba(0, 0, 0, 1);
}

.add-btn {
  height: 40px;

  width: 9rem;
  border: none;
  border-radius: 5px;
  background-color: #a879e2;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.add-btn:hover {
  background-color: #914ec4;
}

.mapped-list {
  display: flex;
  flex-direction: column;
}

.single-list {
  text-align: center;
  color: #b0b0b0;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.icon-wrapper {
  display: flex;
  gap: 5px;
}
.task {
  width: 26rem;
}
.edit-input {
  outline: none;
  background: transparent;
  border: none;
  text-align: center;
  color: #b0b0b0;
  height: 3rem;
  width: 22rem;
}
.trash {
  font-size: 1.2rem;
  color: rgba(255, 71, 71, 0.741);
  cursor: pointer;
}
.trash:hover {
  color: rgba(249, 9, 9, 0.741);
}

.edit {
  font-size: 1.3rem;
  color: rgb(10, 203, 10);
  cursor: pointer;
}

.edit:hover {
  color: rgb(13, 162, 13);
}

.save {
  font-size: 1.2rem;
  color: rgb(44, 188, 255);
  cursor: pointer;
}
.save:hover {
  color: rgb(0, 152, 223);
}
/* stop watch ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.watch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;

  background-color: #34336c;
  width: 300px;
  height: 500px;
  border-radius: 3px;
  position: relative; /* Add position relative to establish containing context */
  overflow: hidden;
}

.watch-wrapper::before {
  z-index: -10;
  position: absolute;
  opacity: 0.9;
  content: '';
  bottom: 0px;
  left: 210px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 220px solid transparent;
  border-right: 220px solid transparent;
  border-bottom: 250px solid #c33e79;
}
.watch-wrapper::after {
  z-index: -9;
  opacity: 0.9;
  position: absolute;
  content: '';
  bottom: 0px;
  left: 250px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 220px solid transparent;
  border-right: 220px solid transparent;
  border-bottom: 250px solid #ff4646;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ff4646;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.reset-btn {
  background-color: white;
  height: 40px;

  width: 7rem;
  border: none;
  border-radius: 25px;

  color: rgb(11, 10, 10);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.start-btn {
  background-color: #f1ff3c;
  height: 40px;

  width: 7rem;
  border: none;
  border-radius: 25px;

  color: rgb(11, 10, 10);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.reset-btn:hover {
  background-color: #dae0f5;
}
.start-btn:hover {
  background-color: rgb(254, 229, 87);
}
